.root {
  flex: 1;
  position: relative;
  height: 90vh;
}
.row {
  display: flex;
  /* background-color: #031d2e; */
  justify-content: space-between;
  margin-left: 30%;
  height: 8vh;
  align-content: center;
}
